* {
    font-family: Ranade-Regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

input {
    background-color: #5240ac;
}

main {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 80px;
    background-color: #5240ac;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.footer {
    height: 80px;
    background-color: rgba(23, 27, 17, 0.7);
}

@font-face {
    font-family: Ranade-Bold;
    src: url("/assets/Ranade-Bold.otf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Regular;
    src: url("/assets/Ranade-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Thin;
    src: url("/assets/Ranade-Thin.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
