* {
    font-family: Ranade-Regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

input {
    background-color: transparent;
    border: 2px solid black;
    padding: 2px;
    transition: background-color 0.3s ease-in-out;
}

input:focus {
    background-color: rgba(219, 219, 219, 0.2);
    outline-width: 0;
}

main {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 80px;
    overflow: hidden;
}

button {
text-transform: uppercase;
font-size: 0.8em;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

.button-container button {
    padding: 2px 4px;
    width: 100%;
    background-color: #e6e6e6;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    border-radius: 0;
    color: black;
    transition: transform;
}

.button-container .reject-button {
    background-color: #ac4040;
} 

.button-container.sent button {
    background-color: #e6e6e6;
}


.button-container button:hover {
    background-color: #c5c5c5;
}

.button-container button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
    border: 1px solid black;
    background-color: #cbcbcb;
}

.header {
    margin: 0.7vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 98.6vw;
    align-items: center;
    border-bottom: 2px solid black;
    /* border: 2px solid black;
    box-shadow: 4px 4px black; */
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.10)
}

.footer {
    height: 40px;
}

@font-face {
    font-family: Ranade-Bold;
    src: url("/assets/Ranade-Bold.otf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Regular;
    src: url("/assets/Ranade-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Ranade-Thin;
    src: url("/assets/Ranade-Thin.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
