.friend-list-label {
    margin-top: 80px;
}

.search-container h2 {
    font-size: 1.4em;
}

.search-container .button-container {
    margin-top: 10px;
    margin-left: 2%;
    width: 96%;
}

.search-container .button-container button {
    background-color: #4e6e6a;
}

.search-container .button-container .reject-button {
    background-color: #ac4040;
}

.search-container .unfriend .button-container button{
    background-color: #ac4040;
}