.logo-small .logo {
    height: 80px;
    width: 80px;
    margin: 10px;
    padding: 14px;
    margin-left: 30px;
    transition: transform 0.3s ease-out;
}

.logo-small .logo img {
    height: 100%;
    object-fit: contain;
}

.logo-small .logo img:hover {
    cursor: pointer;
}
.logo-small .logo:hover {
    border-radius: 50%;
    background-color: #dedede;
    box-shadow: 4px 4px black;
    transform: scale(1.08);
}
