.logo-small .logo {
    height: 60px;
    width: 60px;
    margin: 10px;
    margin-left: 30px;
}

.logo-small .logo img {
    height: 100%;
    object-fit: contain;
}

.logo-small .logo img:hover {
    cursor: pointer;
}
