.welcome-grid {
    display: flex;
    align-items: space-around;
}

.intro {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    color: #aaaaaa;
}

.intro p {
    color: #aaaaaa;
    margin-top: 20px;
    width: 60%;
    text-align: center;
}

.intro .welcome-logo .logo {
    height: 40vh;
}

.intro .welcome-logo img {
    height: 100%;
    object-fit: contain;
}

.welcome-main {
    border: 2px solid #aaaaaa;
    border-radius: 9px;
    width: 30vw;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 80px;
    background-color: #a59f2e;
}
