.welcome-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-main h2 {
    color: #aaaaaa;
}

.welcome-main form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.welcome-main form .button-container {
    margin-top: 10px;
}

.welcome-main .pw-info {
    font-size: 0.8em;
    margin-top: 10px;
    width: 90%;
    align-self: center;
    text-align: justify;
}

.welcome-main p {
    margin-top: 20px;
}

.welcome-main .error {
    color: #bababa;
}
