.profile {
    width: 98.6vw;
    padding: 10vw;
    background-color: #cfc9c9;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    margin-top: 40px;
}

.profile-other {
    width: 98.6vw;
    padding: 10vw;
    background-color: #cfc9c9;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    margin-top: 40px;
}

.profile-view {
    display: flex;
}

.profile-view .profile-picture {
    border: 2px solid #ac4040;
    width: 324px;
    height: 324px;
    background-color: #ac4040;
    box-shadow: 3px 3px #ac4040;
}

.profile-other .profile-picture {
    border: 2px solid #4e6e6a;
    background-color: #4e6e6a;
    box-shadow: 3px 3px #4e6e6a;
}

.profile-view .profile-picture button {
    height: 320px;
    width: 320px;
    overflow: hidden;
    border: 0;
}

.profile-view .profile-picture button img {
    height: 320px;
    width: 320px;
    object-fit: cover;
    filter: grayscale(60%);
}

.profile-view .profile-information {
    min-height: 330px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.profile-view .profile-information h2 {
    border: 2px solid #ac4040;
    color: #ac4040;
    padding: 2px 8px;
}

.profile-other .profile-view .profile-information h2 {
    border: 2px solid #4e6e6a;
    color: #4e6e6a;
    padding: 2px 8px;
}

.profile-view .profile-information .bio-info {
    width: 30vw;
    min-height: 330px;
    display: flex;
    flex-direction: column;
}

.profile-view .profile-information .bio-info p {
    margin-top: 20px;
    min-height: 206px;
    border: 2px solid #ac4040;
    color: #ac4040;
    padding: 16px 16px;
    font-size: 1em;
    background-color: #cfc9c9;
}

.profile-other .profile-view .profile-information .bio-info p {
    border: 2px solid #4e6e6a;
    color: #4e6e6a;
}
.profile-other button {
    background-color: #4e6e6a;
}

.profile-other button:hover {
    background-color: #bdc1c1;
}

.profile-other button:active {
    background-color: #bdc1c1;
}

.profile-other .reject-button {
    background-color: #ac4040;
} 

.profile-view .button-container {
    margin-left: -4px;
}

.profile-view button.edit,
.profile-view button.save,
.profile-view button.add {
    background-color: #ccafaf;
}

.profile-view button.edit:hover,
.profile-view button.save:hover,
.profile-view button.add:hover {
    background-color: #ac4040;
}

.profile-view button.edit:active,
.profile-view button.save:active,
.profile-view button.add:active {
    background-color: #ccafaf;
}

.profile-view .profile-information .bio-info textarea {
    width: 100%;
    margin-top: 20px;
    min-height: 206px;
    border: 2px solid black;
    padding: 4px 8px;
    font-size: 0.9em;
    background-color: #cfc9c9;
    resize: none;
}

.profile-view .profile-information .button-container {
    margin-top: 20px;
    align-self: flex-end;
    justify-self: flex-end;
}
